/build/
/build-win/
/build-win-zlib/
/dist/
/.cache/
/.deps/
/ui-test-out/
aqtinstall.log
__pycache__/
*.pyc
*.pyo
CMakeUserPresets.json
*.user
*.autosave
.DS_Store
Thumbs.db
*.AppImage
*.o
moc_*
ui_*
qrc_*
