[Desktop Entry]
Type=Application
Name=Arbuz
GenericName=Table calculator
GenericName[ru]=Табличный калькулятор
Comment=Table calculator
Comment[ru]=Табличный калькулятор
Exec=arbuz
Icon=arbuz
Terminal=false
Categories=Office;Spreadsheet;Calculator;
StartupWMClass=arbuz
